<nav id="menu" class="menu_box">
	<div class="menu_box-inner">
		<div class="menu_box-item">
			<a class="menu_box-item-link" href="#">Home</a>
		</div>
		<div class="menu_box-item">
			<a class="menu_box-item-link" href="#">Articles</a>
		</div>
		<div class="menu_box-item">
			<a class="menu_box-item-link" href="#">About</a>
		</div>
		<div class="menu_box-item">
			<a class="menu_box-item-link" href="#">Market</a>
		</div>
		<div class="menu_box-item">
			<a class="menu_box-item-link" href="#">Contacts</a>
		</div>
	</div>
</nav>