/*
  /src Fonts style
   @include font-face('Rubik', '../fonts/rubik/Rubik-Light-webfont', 300, normal, eot woff ttf svg)
*/
@charset "UTF-8";

@font-face {
  font-family: 'Avenir-Heavy';
  src: url('/fonts/Avenir-Heavy.eot');
  src: url('/fonts/Avenir-Heavy.woff2') format('woff2'),
       url('/fonts/Avenir-Heavy.woff') format('woff'),
       url('/fonts/Avenir-Heavy.ttf') format('truetype'),
       url('/fonts/Avenir-Heavy.svg#Avenir-Heavy') format('svg'),
       url('/fonts/Avenir-Heavy.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LitteraPlainBold';
  src: url('/fonts/LitteraPlainBold.eot');
  src: url('/fonts/LitteraPlainBold.woff2') format('woff2'),
       url('/fonts/LitteraPlainBold.woff') format('woff'),
       url('/fonts/LitteraPlainBold.ttf') format('truetype'),
       url('/fonts/LitteraPlainBold.svg#LitteraPlainBold') format('svg'),
       url('/fonts/LitteraPlainBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LitteraPlainBook';
  src: url('/fonts/LitteraPlainBook.eot');
  src: url('/fonts/LitteraPlainBook.woff2') format('woff2'),
       url('/fonts/LitteraPlainBook.woff') format('woff'),
       url('/fonts/LitteraPlainBook.ttf') format('truetype'),
       url('/fonts/LitteraPlainBook.svg#LitteraPlainBook') format('svg'),
       url('/fonts/LitteraPlainBook.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LitteraPlainLight';
  src: url('/fonts/LitteraPlainLight.eot');
  src: url('/fonts/LitteraPlainLight.woff2') format('woff2'),
       url('/fonts/LitteraPlainLight.woff') format('woff'),
       url('/fonts/LitteraPlainLight.ttf') format('truetype'),
       url('/fonts/LitteraPlainLight.svg#LitteraPlainLight') format('svg'),
       url('/fonts/LitteraPlainLight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LitteraPlainMedium';
  src: url('/fonts/LitteraPlainMedium.eot');
  src: url('/fonts/LitteraPlainMedium.woff2') format('woff2'),
       url('/fonts/LitteraPlainMedium.woff') format('woff'),
       url('/fonts/LitteraPlainMedium.ttf') format('truetype'),
       url('/fonts/LitteraPlainMedium.svg#LitteraPlainMedium') format('svg'),
       url('/fonts/LitteraPlainMedium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LitteraPlainRegular';
  src: url('/fonts/LitteraPlainRegular.eot');
  src: url('/fonts/LitteraPlainRegular.woff2') format('woff2'),
       url('/fonts/LitteraPlainRegular.woff') format('woff'),
       url('/fonts/LitteraPlainRegular.ttf') format('truetype'),
       url('/fonts/LitteraPlainRegular.svg#LitteraPlainRegular') format('svg'),
       url('/fonts/LitteraPlainRegular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DevanagariMT';
  src: url('/fonts/DevanagariMT.eot');
  src: url('/fonts/DevanagariMT.woff2') format('woff2'),
       url('/fonts/DevanagariMT.woff') format('woff'),
       url('/fonts/DevanagariMT.ttf') format('truetype'),
       url('/fonts/DevanagariMT.svg#DevanagariMT') format('svg'),
       url('/fonts/DevanagariMT.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}